.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}


.showcase{
  border: 5px rgb(60, 204, 3);
  padding: 50px;
  background: rgb(77, 231, 218);
}
.showcaseh1{
  color: white;
  text-align: center;
}

.showcase button{
  padding: 20px;
  margin: 3px;
  background-color: rgb(194, 90, 90);
}



